.column-80
  .meal-preview
    h2(class= "meal-date") DATE
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2.meal-date DATE
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1    

  .bacon

  .meal-middle
    .current-meal
      h2.meal-date DATE
      h2 MEAL TYPE
      ul.ingredient-list
        li meal ingredients 1
    .new-meal-form
      h2 New Meal
      .meal-col-1

        .form-fields 
        
          h2(class= "new-meal")

            h3 Meal Type:
            select(name="mealType", id="mealType" class="form-select")
              each type in mealType
                option(value="" disabled selected hidden)= ""
                option(value=type)= type
            .meal-ingredients
              h3 Ingredients:
              .my-meal
                select(name="quantities", id="quantity", class="form-select")
                  each num in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                    option(value=num)= num

                select(name="ingredients", id="ingredient", class="form-select")
                  option(value="" disabled  selected hidden )= ""
                  each ingredient in ingredients
                    option(value=ingredient.name)= ingredient.name
            .meal-ingredients
              button(id="addIngredient") Add New Ingredient 
      //- Col-2          
      .meal-col-2
        .form-fields
          h3 Meal Day:
          input(type="date", name="mealDay", id="mealDay", class="form-control")
          h3 Meal Name:
          input(name="meal-name", id="meal-name", class="form-select")

          //- // Add New Ingredient Option
          //- option(value="newIngredient") Add New Ingredient



        //- Submit button
      button(type="submit" class="btn btn-primary") Add Meal

  .cheese

  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1

script(src="scripts/front-end.js")
