.column-80
  .meal-preview
    h2(class= "meal-date") DATE
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2.meal-date DATE
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1    

  .bacon

  .meal-middle
    .current-meal
      h2.meal-date DATE
      h2 MEAL TYPE
      ul.ingredient-list
        li meal ingredients 1
    .new-meal-form
      h2 New Meal
      .meal-col-1 
        h2(class= "new-meal")
        form(action="/create-meal", method="POST", class= ".form") 
          .form-fields
            h3 Meal Type:
            select(name="mealType", id="mealType" class="form-select")
              each type in mealType
                option(value=type)= type
            h3 Ingredients:
            div
              select(name="ingredients", id="ingredient", class="form-select")
                each num in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                  option(value=num)= num

              select(name="ingredients", id="ingredient", class="form-select")
                option(value="")= "choose"
                each ingredient in ingredients
                  option(value=ingredient.name)= ingredient.name
            //- // Add New Ingredient Option
            //- option(value="newIngredient") Add New Ingredient
      .meal-col-2
        form(action="/create-meal", method="POST", class= ".form") 
          h3 Meal Day:
          select(name="mealType", id="mealType" class="form-select")
            each type in mealType
              option(value=type)= type
          h3 Meal Name:
          input(name="meal-name", id="meal-name", class="form-select")
              
          //- // Add New Ingredient Option
          //- option(value="newIngredient") Add New Ingredient
      


        //- Submit button
      button(type="submit" class="btn btn-primary") Add Meal

  .cheese

  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview
    h2(class= "meal-date") DATE 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1