.column-80
  .meal-preview(class= "grid-scrollbar")
    h2(class= "meal-date") #{threeDaysAgo}
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview(class= "grid-scrollbar")
    h2(class= "meal-date") #{twoDaysAgo} 
    h2 MEAL TYPE - MEAL NAME
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview(class= "grid-scrollbar")
    h2.meal-date #{yesterday}
    div
      h2 MEAL TYPE
      ul.ingredient-list
        li meal ingredients 1    

  .bacon

  .meal-middle
    .current-meal(class="grid-scrollbar")
      h2.meal-date #{today}
      div
        h2 MEAL NAME
        h3 Meal Type
        ul.ingredient-list
          li meal ingredients 1
      div
    .new-meal-form
      h2 New Meal
      .meal-col-1(class="grid-scrollbar")

        .form-fields 
        
          h2(class= "new-meal")

            h3 Meal Type:
            select(name="mealType", id="mealType" class="form-select")
              each type in mealType
                option(value="" disabled selected hidden)= ""
                option(value=type)= type
            .meal-ingredients
              h3 Ingredients:
              .my-meal
                select(name="quantities", id="quantity", class="form-select")
                  each num in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                    option(value=num)= num

                select(name="ingredients", id="ingredient", class="form-select")
                  option(value="" disabled  selected hidden )= ""
                  each ingredient in ingredients
                    option(value=ingredient.name)= ingredient.name
            .add-ingredient(id="addIngredient") + Add New Ingredient 
      //- Col-2          
      .meal-col-2
        .form-fields
          h3 Meal Day:
          input(type="date", name="mealDate", id="mealDate", class="form-control")
          h3 Meal Name:
          input(name="mealName", id="mealName", class="form-select")

          //- // Add New Ingredient Option
          //- option(value="newIngredient") Add New Ingredient



        //- Submit button
      .btns 
        button(id="clearMeal" class="btn btn-primary") Clear
        button(type="submit" class="btn btn-primary") Add Meal

  .cheese

  .meal-preview(class= "grid-scrollbar")
    h2(class= "meal-date") #{tomorrow} 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview(class= "grid-scrollbar")
    h2(class= "meal-date") #{twoDaysToday} 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1
  .meal-preview(class= "grid-scrollbar")
    h2(class= "meal-date") #{threeDaysToday} 
    h2 MEAL TYPE
    ul.ingredient-list
      li meal ingredients 1

script(src="scripts/front-end.js")
